.comment-div{
    padding: 0.5rem 1rem;
    overflow-y: hidden;
}
.comment-text{
    color: rgba(0, 0, 0, 0.5);
}
.comment-info{
    margin-bottom: 0.4rem;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
a:hover{
    text-decoration: underline;
}