.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-div{
    display: flex;
    align-items: center;
    padding: 0.6rem;
}
select{
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    outline: none;
}
.filter-option{
    font-size: 1rem;
    background-color: white;
}
.shares-div{
    display: flex;
    align-items: center;
}
.shares-div i{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:768px) {
    .shares-div{
        display: none;
    }
}