nav{
    background-color: rgb(255, 116, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-div{
    display: flex;
    align-items: center;
}
.search-box-div{ 
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 2rem;
    background-color: white;
}
.settings-div{
    margin-right: 2rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}
.settings-div i{
    margin-right: 1rem;
}
.logo{
    width: 5rem;
}
.logo-txt{
    font-size: 1.5rem;
    font-weight: 500;
}
.search-box{
    font-size: 1rem;
    padding: 0.9rem 0;
    border: none;
    width: 85%;
    outline: none;
    margin-left: 1rem;
}
.search-box-div .fa-solid{
    font-size: 1.5rem;
    background-color: white;
    color: rgb(255, 116, 43);
    border: 1px solid green;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: none;
}
.search-box-div p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}
.search-box-div img{
    margin-left: 0.5rem;
    width: 3.5rem;
}

@media (max-width:768px){
    .logo{
        width:4rem;
    }
    .settings-div p{
        display: none;
    }
    .logo-txt{
        display: none;
    }
    .search-box-div p{
        display: none;
    }
    .search-box-div img{
        display: none;
    }
}
@media (max-width:480px){
    .logo{width:3rem}
}