.story-div{
    padding: 0.5rem 1rem;
    overflow-x: hidden;
}
.title-div{
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}
.story-text{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0.5rem 0.5rem 0;
}
.title a{
    text-decoration: none;
    color: black;
}
.story-text a{
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.5);
}
.story-text a:hover{
    text-decoration: underline;
}

@media screen and (max-width:480px) {
    .title-div{
        margin-bottom: 0.1rem;
        font-size: 1rem;
    } 
    .story-text{
        font-size: 1rem;
        padding: 0.3rem 0.3rem 0.3rem 0;
    }  
}